<div class="contact">
  <ul class="contact__list list-reset">
    {% if site.data.settings.twitter %}
      <li></li>
    {% else %} {% endif %}

    {% if site.data.settings.facebook %}
      <li></li>
    {% else %} {% endif %}
  
    {% if site.data.settings.dribbble %}
      <li></li>
    {% else %} {% endif %}
  
    {% if site.data.settings.instagram %}
      <li></li>
    {% else %} {% endif %}
  
    {% if site.data.settings.pinterest %}
      <li></li>
    {% else %} {% endif %}
  </ul>
</div>